@charset "UTF-8";

body {
    font-family: "맑은 고딕";
    font-size: 17px;
}


/*--------------------------------- h태그 */


h1 {
    font-family: 궁서;
    font-size: 30px;
    letter-spacing: 15px;
}
h2 {font-size: 25px;}
h3 {font-size: 20px; }


/*--------------------------------- 글씨 */


.ita {font-style: italic;}
.un_line {text-decoration: underline;}
.b {font-weight: bold;}

.co_blue {color: #0000ff;}
.co_red {color: #ff0000;}
.co_green {color: #00ff00}


/*--------------------------------- 문단 or 리스트 */


.p {line-height: 35px;}

ul {list-style-type: square;}
ol {list-style-type: none;}

.history {background-color: #d9d9d9;}
.history p {text-indent: 30px;}


/*---------------------------------- 테이블 영역 */


table tr:hover {background-color: #edd3ed;}
table th {background-color: #cbeefa;}
.ho:before {content: "약 ";}
.ho:after {content: " (MB/초)";}
.ho {text-align: right;}

#tbl a:link {
    color: #000000;
    text-decoration: none;
}
#tbl a:visited {
    color: #000000;
}
#tbl a:hover {
    color: #0000ff;
    text-decoration: overline;
}
#tbl a:active {
    color: #0000ff;
    text-decoration: underline;
}