@charset "UTF-8";

#wrap #contents2 #main #main-write form div {
    margin: 12px 0px 0px 0px;
}

#wrap #contents2 #main #main-write form #w-ti {
    width: 712px;
}

#wrap #contents2 #main #main-write form textarea {
    width: 800px;
    height: 200px;
}

#wrap #contents2 #main #main-write form #w-file {
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #a6a6a6;
}

#wrap #contents2 #main #main-write form #w-btn {
    text-align: center;
    margin: 12px 0px 0px 0px;
    
}

#wrap #contents2 #main #main-write form #w-btn button {
    width: 70px;
    padding: 4px 0px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #efefef;
}

#wrap #contents2 #main #main-write form #w-btn button:hover {
    background-color: #d9d9d9;
}